<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
         <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>Flask testing</title>
</head>
<body>
<header>
      <div id="branding">
               <h1><span class="highlight">Flask</span> Testing</h1>
           </div>
           <nav>
               <ul>

               <li><a href="Home.html">Home</a></li>
               <li><a href="About.html">About</a></li>
               <li class="current"><a href="Services.html">Services </a></li>
               </ul>
           </nav>
</header>
 <section id="newsletter">
       <div class="container">
           <h1>Subcribe To our Newsletter</h1>
           <form>
               <input type="email" placeholder="Enter Email...">
               <button type="submit" class="button_1">Subscribe</button>
           </form>
       </div>
       </section>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, et hic labore nulla officia qui repudiandae sint. Accusantium adipisci ducimus eligendi ipsa libero, neque nihil non odio quaerat voluptatem, voluptates.
</p>
<footer>
    <p>$ copy right 2018@Blackcure</p>
</footer>
</body>
</html>